/* ==================== FONTS ==================== */
/* ==================== RESET ==================== */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* ==================== UI ==================== */
/* ====================  ==================== */
/* ==================== MAIN PAGE STYLES ==================== */
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* ====================  ==================== */
.main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  background: url("../img/bg/body_bg.jpg") center/cover no-repeat;
  color: white;
}
.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.todo {
  position: relative;
  background-color: rgba(225, 221, 114, 0.1);
  z-index: 1;
  width: 60%;
  height: 60%;
  border-radius: 10px;
  border: 3px solid rgba(27, 101, 53, 0.5);
  padding: 30px 50px;
  overflow-x: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-bottom: 10px;
}
.todo__list {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.todo__item {
  position: relative;
  border: 2px solid rgba(225, 221, 114, 0.5);
  background-color: rgba(27, 101, 53, 0.5);
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  list-style: none;
  margin-bottom: 12px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.todo__item.todo_complete {
  text-decoration: line-through;
}
.todo .empty-info-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  z-index: -1;
}
.todo .empty-info-wrap.is-empty {
  display: none;
}
.todo__empty-info {
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 0, 0, 0.2);
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 10px 40px;
}
@media (max-width: 900px) {
  .todo {
    width: 80%;
    height: 80%;
  }
}
@media (max-width: 630px) {
  .todo {
    width: 95%;
    height: 87%;
    padding: 15px 50px;
  }
}
@media (max-width: 550px) {
  .todo {
    height: 77%;
  }
}
@media (max-width: 450px) {
  .todo {
    height: 77%;
  }
}
.todo .del-task {
  position: absolute;
  right: -27px;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  display: inline-block;
  padding: 20px;
  background: url("../img/icon/remove.png") center/cover no-repeat;
  cursor: pointer;
  z-index: 1;
}
.todo .complete-task {
  position: absolute;
  display: inline-block;
  left: -42px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1;
  border: 2px solid rgba(225, 221, 114, 0.5);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.todo .complete-task.complete img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.buttons {
  position: relative;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}
.buttons .button {
  text-align: center;
  width: 160px;
  color: white;
  font-size: 18px;
  padding: 15px 25px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid rgba(225, 221, 114, 0.5);
}
.buttons .add-task {
  background-color: rgba(0, 128, 0, 0.2);
}
.buttons .add-task__plus {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(0, 128, 0, 0.2);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 2;
  font-size: 30px;
  border: 2px solid rgba(225, 221, 114, 0.5);
}
.buttons .add-task:hover {
  background-color: rgba(0, 128, 0, 0.3);
}
.buttons .remove-all-tasks {
  background-color: rgba(255, 0, 0, 0.2);
}
.buttons .remove-all-tasks:hover {
  background-color: rgba(255, 0, 0, 0.3);
}
.buttons .info {
  background-color: rgba(255, 255, 255, 0.1);
}
.buttons .info:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
@media (max-width: 900px) {
  .buttons {
    width: 80%;
  }
}
@media (max-width: 630px) {
  .buttons {
    width: 95%;
  }
}
@media (max-width: 550px) {
  .buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .buttons .remove-all-tasks {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
  .buttons .add-task {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
  .buttons .info {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
  }
  .buttons input, .buttons div {
    margin-bottom: 10px;
    text-align: center;
  }
  .buttons input {
    width: 100%;
    height: 50px;
  }
}

.pupop {
  position: relative;
  display: none;
  padding: 120px 100px;
  position: absolute;
  top: 42%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #1b6535;
  font-size: 22px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 1;
}
@media (max-width: 1000px) {
  .pupop {
    padding: 100px 50px;
  }
}
@media (max-width: 800px) {
  .pupop {
    padding: 80px 50px;
    text-align: center;
    line-height: 30px;
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background: url("../img/close.png") center/cover no-repeat;
  cursor: pointer;
}

.new-task-input {
  display: none;
  border-radius: 5px;
  background-color: rgba(0, 128, 0, 0.2);
  border: 2px solid rgba(225, 221, 114, 0.5);
  padding: 0 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 10px;
  color: white;
  font-size: 18px;
  height: 52px;
  width: 96%;
  position: absolute;
  bottom: 10px;
  left: 2%;
}
.new-task-input::-webkit-input-placeholder {
  color: white;
  opacity: 0.6;
  text-transform: lowercase;
  letter-spacing: 1px;
}
.new-task-input::-moz-placeholder {
  color: white;
  opacity: 0.6;
  text-transform: lowercase;
  letter-spacing: 1px;
}
.new-task-input:-ms-input-placeholder {
  color: white;
  opacity: 0.6;
  text-transform: lowercase;
  letter-spacing: 1px;
}
.new-task-input::-ms-input-placeholder {
  color: white;
  opacity: 0.6;
  text-transform: lowercase;
  letter-spacing: 1px;
}
.new-task-input::placeholder {
  color: white;
  opacity: 0.6;
  text-transform: lowercase;
  letter-spacing: 1px;
}

.empty-input {
  display: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 0, 0, 0.6);
  border-radius: 5px;
  padding: 8px;
  position: absolute;
  bottom: 20px;
  right: 5%;
}

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
  position: absolute;
}

::-webkit-scrollbar-track {
  margin: 10px;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  height: 20px;
  border-radius: 5px;
  background-color: rgba(225, 221, 114, 0.5);
}

/* ====================  ==================== */