// ==================== MIXINS ====================

@mixin ibg($img) {
	background: url($img) center center / cover no-repeat;
}

@mixin anim($time) {
	transition: all $time ease 0s;
}

@mixin arrow($color) {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid $color;
}
